{
    frankenphp
}

{$SERVER_NAME} {
    tls {
        issuer zerossl
    }

    root * public/
    encode zstd gzip

    # En-têtes de sécurité
    header {
        X-Frame-Options "DENY"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
        Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
    }

    php_server
}
